#shopfun {
    .container {
        width: 35%;
        height: 600px;
        background-color: blue;

        
        .giftclass{
            width: 150px;
            height: 100px;
            padding-left: 8px;
        }
       
       

    }
   





}